<!DOCTYPE html>
<html>
  <head>
    <title>Book</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/indexstyle.css">
    <link rel="stylesheet" href="/stylesheets/registerstyle.css">

  </head>
  <body>