<%- include("header")  %>
<%- include("nav")  %>
<div id="page1">
    <h1>Welcome to Send Page Page</h1>
    <form id="form1" action="/sendemail" method="post">
        <input type="email" placeholder="Enter Your Email" name="email">
        <button>Send Email</button>
    </form>
</div>

<%- include("footer")  %>